    // variables
        @mixin flexC{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        $grey: #373737;
        $white: #f6f4dd;
        $black: #181818;
        $log: #252525;
        $screen: #272727;
        $red: #a21223;
        $green: #0d761d;
        $greenfocus: #074310;
        $greenhover: #0e7f1f;
        $redfocus: #700c18;
        $redhover: #ab1325;

    // unstyle

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    
    
    *{
        box-sizing: border-box;
        user-select: none;
        -moz-user-select: none;
        font-family: 'Ubuntu', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        color: $white;
        transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    html{
        
        min-height: 100vh;
        min-width: 100vh;
        @include flexC();

    }

    body{
        @include flexC();
        background-color: $black;
        flex-grow: 0;


    }

    #calculator{
        background-color: #2c2c2c;
        border-radius: 15px;
        box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.18);
        padding: 10px;
        padding-top: 20px;

    }

    #display > *{
        font-family: 'digital-7_italicitalic';
        font-size: 2.125em;
        letter-spacing: 1.5px;
        margin: 5px;
        border: 1px solid $black;
        border-radius: 5px;
        text-align: right;
        overflow: scroll;
        white-space: nowrap;
        display: inline-block;

    }

    #display{
        @include flexC();
        flex-direction: column;
    }
    
    #log{
        font-size: 1.5em;
        padding: 10px;
        background-color: $log;
        height: 1.7em;
        width: 314px;
        align-items: center;
    }

    #result{
        background-color: $screen;
        margin-bottom: 10px;
        min-height: 70px;
        width: 314px;
        padding: 15px;
    }


    #interface{
        display: grid;
        gap: 0.45rem;
        grid-template-columns:  repeat( 5, 1fr );
        grid-template-rows:     repeat( 5, 1fr );
        min-width: 260px;
        padding: 10px;
            *{
                @include flexC();
                    button{
                        flex:   1;
                        border: 1px solid $black;
                    }
                color: $white;
                
            }

            button{
                min-width: 55px;
                min-height: 50px;
                border-radius: 5px;
            }

            #zero{
               grid-row: 5; 
            }
            #one{
                grid-row: 4;
            }
            #two{
                grid-row: 4;
            }
            #three{
                grid-row: 4;
            }
            #forth{
                grid-row: 3;
            }
            #five{
                grid-row: 3;
            }
            #six{
                grid-row: 3;
            }
            #seven{
                grid-row: 2;
            }
            #eigth{
                grid-row: 2;
            }
            #nine{
                grid-row: 2;
            }
            #backspace{
                grid-row: 1;
                grid-column: 6 / 5;
                font-size: 12px;
                
            }
            #clear{
                grid-row: 1;
                grid-column: 1 / 3;                    
                
            }
            #float{
                grid-row: 5;
                grid-column: 2/4;
            }
            #modulo{
                grid-row: 2;
                grid-column: 5;
            }
            #add{
                grid-row: 5;
                grid-column: 4;
            }
            #sub{
                grid-row: 4;
                grid-column: 4;
            }
            #divide{
                grid-row: 2;
                grid-column: 4;
                button span{
                    position: relative;
                    visibility: hidden;
                }
                button span::after{
                    content: '÷';
                    position: absolute;
                    visibility: visible ;
                }
            }
            #multiply{
                grid-row: 3;
                grid-column: 4;
                    button span{
                        position: relative;
                        visibility: hidden;
                    }
                    button span::after{
                        content: '×';
                        position: absolute;
                        visibility: visible ;
                    }
            }
            #factor{
                grid-row: 3;
                grid-column: 5;
            }
            #equal{
                grid-row: 6 / 4 ;
                grid-column: 5 ;
                button{
                    min-height: 106px;
                }
                
            }
            #pi{
                grid-row: 1;
                grid-column: 3;
            }
            #git{

                grid-row: 1;
                grid-column: 4;

                a{
                    button{
                        img{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
            
            
    }back

    button {
        background-color: $grey;
    }

    button:hover{
        background-color: #3c3c3c;
    }

    button.grey.focus{
        background-color: #151515;
    }

    button.backspace{
        background-color: $red;
    }
    button.backspace:hover{
        background-color: $redhover;
    }

    button.backspace.focus{
        background-color: $redfocus
    }
   
    button.equal{
        background-color: $green;
    }
    button.equal:hover{
        background-color: $greenhover;
    }
    button.equal.focus{
        background-color: $greenfocus;
    }
   
 